.spinner-container {
  height: 100%;
  width: 100%;
}

.spinner {
  margin: auto;
  top: 35%;
}

.main {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
  height: 100%;
  padding-top: 2rem;
  margin: auto;
  background-image: url(https://source.unsplash.com/random/800x600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

.card {
  max-width: 500px;
  margin: auto;
}
.card h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.card h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.formfield {
  width: 100%;
}
.loginbutton {
  width: 100%;
}
@media screen and (max-width: 615px) {
  .main {
    height: auto;
    padding: 2rem 0rem 2rem 0rem;
  }
}
