.home-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
}
.toolbar-row {
  display: flex;
  height: 100px;
}
.mob-btn {
  display: none;
}
.btn {
  margin: auto;
  height: 40px;
  width: 200px;
}

.btn-ico {
  margin-right: 12px;
}
.btn-ico:focus {
  outline: none;
}

.work-area {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding-top: 8px;
}
.placeholder {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.placeholder-txt {
  font-size: 18px;
  margin-top: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: -16px;
}
.make-bill {
  flex-grow: 1;
  display: flex;
}
app-make-bill {
  border: 1px solid red;
  flex-grow: 1;
}
.cancel-btn {
  height: 40px;
  position: fixed;
  right: 1%;
}
@media screen and (max-width: 600px) {
  .toolbar-row {
    height: 56px;
    display: block;
  }
  .btn {
    display: none;
  }
  .mob-btn {
    display: unset;
    margin-top: 2px;
    width: 150px;
    height: 40px;
  }
  .mob-btn-txt {
    font-size: 18px;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .mob-btn-ico {
    margin-right: 8px;
  }
  .mob-btn-ico:focus {
    outline: none;
  }
  .cancel-btn a {
    display: none;
  }
}
